<% title "#{admin_title} #{t(:setup_complete, default: "Your Helpy is ready!")}" %>

<script>
  ga('create', 'UA-50151-26', 'auto', 'installPinger');
  ga('installPinger.send', 'pageview', { 'title': 'Onboard Completed: ' + Helpy.domain });
</script>

<div id="panel-4" class="onboard-panel text-center">
  <div class="onboard-message">
    <h2><%= t(:setup_complete, default: "Your Helpy is ready!") %></h2>
  </div>
  <div class="edit-admin text-left">
    <%= t(:setup_complete_message,
      default: "Your Helpy is ready to go!  You can customize more in the settings area.
        Follow us on social media to stay up to date on important bug fixes, security patches and the latest news.") %>

    <div class="text-center">
      <ul class="list-inline social-icons">
        <li><a href="https://github.com/helpyio/helpy" target="_blank"><span class="fa fa-github"></span></a></li>
        <li><a href="https://www.linkedin.com/grp/home?gid=7001784" target="_blank"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="https://twitter.com/helpyapp" target="_blank"><span class="fa fa-twitter"></span></a></li>
      </ul>
    </div>

    <div class="onboard-submit-section text-center">
      <%= link_to t(:get_started, default: "Get Started!"), '#', class: 'btn btn-primary get-started' %>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      // Progress bar
      $.each([1,2,3], function( i, value ) {
        $('li.step-' + value).html("<span class='glyphicon glyphicon-ok'></span>").addClass('filled-circle');
      });
      $('li.step-' + 4).addClass('active-step');

      // Add listener to close modal
      $('.get-started').on('click', function(){
        parent.closeModal();
      });
    });
</script>
