<!DOCTYPE html>
<html>
<head>
  <title><%= theme_name.humanize %></title>
  <%%= stylesheet_link_tag    "<%= %Q{#{theme_name}/all} %>", media: "all", "data-turbolinks-track" => true %>
  <%%= javascript_include_tag "<%= %Q{#{theme_name}/all} %>", "data-turbolinks-track" => true %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>
