<label>Forum Name:</label><br /><%= f.text_field :name, :size => 40 -%></p>
<label>Description:</label><br /><%= f.text_area :description, :rows => 4, :cols => 60 -%></p>
<label>Private?</label><br/><%= f.check_box :private %>