<tr class="link-row">
  <td class="name">
    <div class="more-important">
      <%= link_to h(forum.name), forum_topics_path(:forum_id => forum) -%> <%= '(private)' if forum.private? %>
    </div>

    <div class="less-important">
      <%= h(forum.description) -%>
    </div>
  </td>

  <td class="last_post less-important text-right"><%= distance_of_time_in_words_to_now(forum.last_post_date) + " ago" unless forum.last_post_date.blank? %></td>
</tr>
