<h2>Edit forum</h2>
<%= error_messages_for :forum %>
<% form_for(:forum, 
            :url => forum_path(@forum), 
            :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} -%>
  <%= submit_tag "Update" %>
<% end %>
