<% if user_signed_in? and current_user.admin? %>
  <p><%= link_to 'Create New Forum', new_forum_path -%></p>
<% end %>
<h1>Forum Topics</h1>
<table id="forums">
  <thead>
	  <tr>
	    <th class="name">Forum name</th>
	    <th class="topic"></th>
		<th class="fposts"></th>
		<th class="last_post">Last Activity</th>
	  </tr>
  </thead>
  <tbody>
	<%= render :partial => 'forum', :collection => @forums %>
  </tbody>
</table>
