
<table id="forums" class="table-hover">
  <col>
  <col width="10%">

  <tr>
      <th><%= t(:forum_name) %></th>
		  <th class="text-right"><%= t(:last_activity) %></th>
  </tr>

  <tbody>
	<%= render :partial => 'forum', :collection => @forums %>
  </tbody>
</table>
