
  <table id="forums">
    <thead>
  	  <tr>
  	    <th class="name">Forum name</th>
  	    <th class="topic"></th>
  		<th class="fposts"></th>
  		<th class="last_post">Last Activity</th>
  	  </tr>
    </thead>
    <tbody>
  	<%= render :partial => 'forum', :collection => @forums %>
    </tbody>
  </table>
