
  <table id="forums">
    <col width="80%">
    <col width="20%">
    <thead>
  	  <tr>
  	    <th class="name">Forum name</th>
  		  <th class="last_post text-right">Last Activity</th>
  	  </tr>
    </thead>
    <tbody>
  	<%= render :partial => 'forum', :collection => @forums %>
    </tbody>
  </table>
