<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>
<% meta_tag :description, "Community discussion for #{AppSettings['settings.site_name']}" %>
<% meta_tag :keywords, "support, articles, documentation, how-to, faq, frequently asked questions, forum, discussion" %>

<table id="forums" class="table-hover">
  <col>
  <col width="10%">
  <tr>
      <th><%= t(:forum_name) %></th>
		  <th class="text-right"><%= t(:last_activity) %></th>
  </tr>
  <tbody>
	<%= render :partial => 'forum', :collection => @forums %>
  </tbody>
</table>
