

<% if params[:q] %>

<%#= render 'result/search_form' %>

<div id="results-found">
  <h4>
    <span id="results-total-count"><%= @results.total_count %></span> results found for your search <strong>"<%= params[:q] %>"</strong>
  </h4>
</div>
<% end %>


<div id="search-results">
  <%= render 'search_results' %>
</div>
