<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>
<% meta_tag :description, "#{@category.meta_description}" %>
<% meta_tag :keywords, "#{@category.keywords}" %>
  <div class="row">
    <% Category.children_of(@category).ordered.each do |category| %>
    <%# if category.docs.all.with_translations(I18n.locale).count > 0 %>
    <%= render partial: 'categories/category_panel', object: category %>
    <%# end %>
    <% end %>
  </div>
<div class="row">
  <% @docs.each do |doc| %>
    <%= render "docs/doc_panel", doc: doc %>
  <% end %>
  <% if @docs.count == 0 && Category.children_of(@category).size == 0 %>

    <div class="text-center verticalness">
      <%= t(:nothing_here) %>
    </div>

  <% end %>

  <div class="row">
    <div class="col-md-12 text-left">
      <%= paginate @docs %>
    </div>
  </div>

</div>
