<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<tr class="topic border-bottom">
  <td>
    <span class="topic-link truncate-ellipsis more-important">
      <%= link_to "##{ticket.id} - #{ticket.name.capitalize}", ticket_path(ticket) -%>
      <%= badge_for_status(ticket.current_status) %>
    </span>
  </td>
  <td class="last-active less-important text-right">
    <span class="label label-count hidden-xs pull-left"><%= ticket.posts_count %></span>
    <%= last_active_time(ticket.updated_at) %>
  </td>
</tr>
