<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<div class="ticket border-bottom row vcenter">
  <div class="col-md-8 text-left">
    <span class="truncate-ellipsis">
      <%= link_to "##{ticket.id}- #{ticket.name.capitalize}", ticket_path(ticket) -%>
    </span>
  </div>
  <div class="col-md-1">
    <%= badge_for_status(ticket.current_status) %>
  </div>
  <div class="col-md-1">
    <div class="label label-count hidden-xs pull-left"><%= ticket.posts_count %></div>
  </div>
  <div class="last-active less-important col-md-2 text-right">

    <%= last_active_time(ticket.updated_at) %>
  </div>
</div>
