<tr class="topic link-row">
  <td>
    <span class="more-important truncate-ellipsis"><%= link_to h(topic.name.titleize), topic_posts_path(topic) -%></span>
    <span class="less-important"><%= t(:started_by, :username => topic.user.name.titleize) %></span>
  </td>
  <td>
    <span class="label label-count hidden-xs"><%= topic.posts.count %></span>
  </td>
  <td class="last-active less-important text-right">
    <%= last_active_time(topic.last_post_date) %>
  </td>
</tr>
