
<table id="forums" class="table-hover">

  <col width="80%">
  <col width="20%">

  <tbody>
    <tr>
      <th><%= t(:topic) %></th>
  	  <th class="text-right"><%= t(:last_activity) %></th>
    </tr>
    <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>

<div class="text-right">
	<%= paginate @topics %>
</div>
