<table id="topics">

  <col width="70%">
  <col width="10%">
  <col width="20%">

  <tr>
    <th>Subject</th>
    <th></th>
    <th>Last Post</th>
  </tr>
  <%= render :partial => 'topics/ticket', :collection => @topics %>
</table>

<div class="text-right">
  <%= paginate @topics %>
</div>
