<div id="article-editor">
  <div id="toolbar">
    <span class="ql-format-group">
    <select class="ql-size">
        <option value="10px">Small</option>
        <option value="13px" selected>Normal</option>
        <option value="18px">Large</option>
        <option value="32px">Huge</option>
      </select>
    </span>
    <span class="ql-format-button ql-bold"></span>
    <span class="ql-format-separator"></span>
    <span class="ql-format-button ql-italic"></span>
    <span class="ql-format-separator"></span>
    <span class="ql-format-button ql-underline"></span>
    <span class="ql-format-separator"></span>
    <span class="ql-format-group">
      <span title="List" class="ql-format-button ql-list"></span>
      <span class="ql-format-separator"></span>
      <span title="Bullet" class="ql-format-button ql-bullet"></span>
      <span class="ql-format-separator"></span>
      <select title="Text Alignment" class="ql-align">
        <option value="left" label="Left" selected=""></option>
        <option value="center" label="Center"></option>
        <option value="right" label="Right"></option>
        <option value="justify" label="Justify"></option>
      </select>
    </span>
    <span class="ql-format-group">
      <span title="Link" class="ql-format-button ql-link"></span>
      <!--<span class="ql-format-separator"></span>
      <span title="Image" class="ql-format-button ql-image"></span>-->
    </span>
  </div>
  <div id="editor"></div>
</div>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      'toolbar': { container: '#toolbar' },
      'image-tooltip': true,
      'link-tooltip': true
    }
  });
  <% if @post.nil? %>
  quill.setHTML('<%= @doc.body.html_safe if @doc.body? %>');
  <% else %>
  quill.setHTML('<%= @post.body.html_safe unless @post.nil? %>');
  <% end %>

  quill.on('text-change', function(delta, source) {
    //console.log(quill.getHTML());
    $('#doc_body').val(quill.getHTML());
  });

</script>
