<div id="user-info">
</div>
<table id="topics" class="forum table-hover">

  <col>
  <col width="10%" class="hidden-xs">

  <tr>
    <th>Subject</th>
    <th class="text-right hidden-xs">Last Post</th>
  </tr>
  <tbody>
  <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @topics, remote: true %>
</div>
