<table id="topics" class="forum table-hover">

  <col width="70%">
  <col width="30%">

  <tr>
    <th>Subject</th>
    <th class="text-right">Last Post</th>
  </tr>
  <tbody>
  <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @topics, remote: true %>
</div>
