<table id="forums">
  <col width="5%">
  <col width="85%">
  <col width="10%">

  <tr>

  </tr>
  <%= render partial: 'user', collection: @users %>
</table>

<div class="text-right">
  <%= paginate @users %>
</div>
