<h1>Admin Communities</h1>

<div class="admin-options text-right">
  <%= link_to "Create New Community", new_forum_path, class: 'btn btn-default' %>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="forums" class="table-hover">

      <col width="85%">
      <col width="15%">
      <tbody id="categories">
      <tr>
        <td colspan="2" class='tiny-header'>Community</td>
      </tr>
      <%= render partial: 'forum', collection: @forums %>
      <tr>
        <td colspan="2"></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
