<h1 id="ticket-page-title">Ticket Management <%= render 'admin/ticket_nav_dropdown' %></h1>
<div class="row">
  <div class="col-md-3 hidden-xs hidden-sm" id="left-col-ticket-nav">
    <%= render 'ticket_nav' %>
  </div>

  <div class="col-md-9" id="tickets">
    <%= render 'tickets' %>
  </div>
</div>
