<h2>
  #<%= @topic.id %>- <%= @topic.name.titleize -%>  <%= render 'admin/ticket_nav_dropdown' %>
</h2>
<div class="row">
  <div id="tickets" class="col-md-12">
    <%= render 'ticket' %>
  </div>
</div>
