<h1>
  Ticket Management
</h1>
<div class="row">

  <div class="col-md-4 hidden-xs hidden-sm" id="left-col-user-info">
    <%= render 'user_info' %>
  </div>

  <div id="right-col-ticket" class="col-md-8">
    <%= render 'ticket' %>
  </div>
</div>
