<div id="page-title" class="row">
  <div class="col-md-8" id="page-title-left">
    <span>
      <%= render_breadcrumbs('') %>
    </span>
    <h1><%= @page_title %></h1>
  </div>
  <div class="col-md-4 hidden-xs" id="page-title-right">
      <%= render('result/search_form') %>
  </div>
</div>
