<li class="article less-important">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <%= link_to doc.title, category_doc_path(doc.category, doc) %> <% if doc.posts.count > 0 %><i class="glyphicon glyphicon-comment" style="font-size:11px;color:#eee;" title="<%= doc.posts.count %>"></i><% end %>
</li>
