<%
# Support for different link format for mine
if box == 'mine'
  path = admin_topics_path(:status => 'assigned', :assigned_user_id => current_user)
else
  path = admin_topics_path(:status => box)
end
%>
<li class="<%= class_name %> text-left nav-item">
  <%= link_to label, path, :remote => true,
      class: "pipeline-#{box}" %>
</li>
