<div class="row keyboard-shortcuts">
  <div class="col-md-12">
    <h3>Keyboard shortcuts</h3>
  </div>
</div>
<div class="row keyboard-shortcuts">
  <div class="col-sm-6 col-md-6">
    <span class="text-left"><h4>Listing Views</h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">N</span> Show new tickets</li>
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">A</span> Show all tickets</li>
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">O</span> Show open tickets</li>
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">M</span> Show tickets assigned to you</li>
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">P</span> Show pending tickets assigned to you</li>
      <li class="shortcut-row"><span class="key">G</span> then <span class="key">C</span> Show closed tickets</li>
      <li class="shortcut-row"><span class="key">N</span> Show new tickets</li>
      <li class="shortcut-row"><span class="key">F</span> Search for tickets</li>
    </ul>
    <span class="text-left"><h4>Viewing Tickets</h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">,</span> Select Previous Ticket</li>
      <li class="shortcut-row"><span class="key">.</span> Select Next Ticket</li>
      <li class="shortcut-row"><span class="key">Enter</span> View Selected Ticket</li>
      <li class="shortcut-row"><span class="key">#{ticket number}</span> Jump to a specific ticket number</li>
    </ul>
  </div>
  <div class="col-sm-6  col-md-6">
    <span class="text-left"><h4>Ticket Actions</h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">A</span> Assign the ticket</li>
      <li class="shortcut-row"><span class="key">M</span> Move the ticket</li>
      <li class="shortcut-row"><span class="key">X</span> Expand the ticket thread</li>
      <li class="shortcut-row"><span class="key">R</span> Reply to the ticket</li>
      <li class="shortcut-row"><span class="key">O</span> Add an internal note</li>
      <li class="shortcut-row"><span class="key">U</span> Change the ticket status</li>
      <li class="shortcut-row"><span class="key">P</span> Associate with a Group</li>
    </ul>
    <span class="text-left"><h4>Ticket Status</h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">S</span> then <span class="key">R</span> Mark resolved</li>
      <li class="shortcut-row"><span class="key">S</span> then <span class="key">O</span> Re-open ticket</li>
      <li class="shortcut-row"><span class="key">S</span> then <span class="key">N</span> Set to new</li>
      <li class="shortcut-row"><span class="key">S</span> then <span class="key">S</span> Mark as spam</li>
      <li class="shortcut-row"><span class="key">S</span> then <span class="key">T</span> Move to trash</li>
    </ul>
  </div>
</div>
