<% title "#{admin_title} #{t(:discussions, default: 'Discussions')}: #{@topic.id} #{@topic.name.titleize}" %>

<div class="row">
  <div id="admin-left-nav" class="hidden-xs hidden-sm col-md-3 ticket-stats">
    <%= render partial: 'admin/topics/tiny' %>
  </div>

  <div id="tickets" class="col-md-9 main-panel">
    <%= render 'ticket' %>
  </div>
</div>
