<% title "#{admin_title} #{t(:discussions, default: 'Discussions')}: #{@topic.id} #{@topic.name.titleize}" %>

<div class="row">
  <div id="tickets" class="col-md-12">
    <%= render 'admin/topics/ticket' %>
  </div>
</div>
