<% title "#{admin_title} #{t(:discussions, default: 'Discussions')}: #{@topic.id} #{@topic.name.titleize}" %>

<% content_for :pipeline do %>
<%= render partial: 'admin/shared/pipeline' %>
<% end %>
<div class="topic-search" style="display: none;">
<%= render partial: 'admin/search/topic_search' %>
</div>
<div class="row">
  <div id="tickets" class="col-md-12">
    <%= render 'admin/topics/ticket' %>
  </div>
</div>
