<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    <%= t('hello', user_name: @user.name) %>,
  </p>
  
  <p>
    <p><%= t('import_completed', default: 'Your Request for the import has been completed, Following is the status of import.') %>
    <p>Note: <%= @notes %></p>
  </p><br/>
  <p>
    <strong>Powered by Helpy</strong><br/>
    Get a Free Helpy Support System for your Site at http://helpy.io/
  </p>
  </body>
</html>
