<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Make sure your reply appears above this line<br/>
    =================================================================<br/>
    Message ID:<%= @topic.id %></br>
  </p>
  <p>
    Hello <%= @topic.user.login %>,
  </p>
  <p>
    The following message has been posted in response to your question:
  </p>
  <p>
    <%= simple_format(@topic.posts.last.body) %>
  </p>
  <p>
    View this online: <%= topic_posts_url(@topic) %>
  </p><br/>
    <p>
    <strong>Powered by Helpy</strong><br/>
    Get a Free Helpy Support System for your Site at http://helpy.io/
  </p>
  </body>
</html>
