<% content_for :settings do %>
  <%= content_tag :h3, t('import_details', id: @import.id, default: '#%{id} Import Details') %>

  <div class="row">
    <div class="col-md-12" id="backups">
      <%= render 'admin/imports/detail' %>
    </div>
  </div>
<% end %>
