<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    <%= t('hello', user_name: @user.name) %>,
  </p>
  <p>
    <%= t('new_user', default: 'Thank you for contacting us.  Your message has been received by our support team and we will be in touch with you shortly with a response.') %>
  </p>
  <p>
    <p><%= t('account_generated', default: 'An account has been generated for you. To sign in, please use this link:') %> <%= link_to t('devise.sessions.new.sign_in'), edit_password_url(User, reset_password_token: @token, first: true) %></p>
  </p><br/>
  <p>
    <strong>Powered by Helpy</strong><br/>
    Get a Free Helpy Support System for your Site at http://helpy.io/
  </p>
  </body>
</html>
