<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled locale-list">
      <% I18n.available_locales.each do |l| %>
      <li class="text-left"><%= link_to "#{l.upcase}- #{I18n.translate("language_name", locale: l).mb_chars.capitalize.to_s}", "/#{l}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-1">
  </div>
</div>
