<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>

<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled locale-list">
      <% AppSettings['i18n.available_locales'].each do |l| %>
      <li class="text-left"><%= link_to "#{l.upcase}- #{I18n.translate("language_name", locale: l).mb_chars.capitalize.to_s}", "/#{l}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-1">
  </div>
</div>
