<h1>New Article</h1>
<%#= bootstrap_form_for :doc, url: category_doc_path(@doc.category, @doc.id), :method => 'post' do |f| %>
<%= bootstrap_form_for(@doc) do |f| %>
  <%= render :partial => 'form', :object => @doc, :locals => {:f => f} %>
<% end %>

<%#= link_to 'Back', docs_path %>
