<h1>New Article</h1>
<div class="col-md-4">
  <%= bootstrap_form_for(@doc) do |f| %>

    <%= f.alert_message "Please fix the errors below." %>
    <%= render :partial => 'form', :object => @doc, :locals => {:f => f} %>

  <% end %>
</div>

<div class="col-md-8">
  <%= render 'admin/article_editor' %>
</div>
