<div class="row">
  <%= bootstrap_form_for(@doc) do |f| %>
  <div class="col-md-12">
    <h2 class="form-subhead"><%= t(:new_content, default: 'New Content') %></h2>
      <%= f.alert_message "Please fix the errors below." %>
      <%= render :partial => 'form', :object => @doc, :locals => {:f => f} %>
  </div>
  <% end %>
</div>
