# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=helpy_production
POSTGRES_USER=helpy
POSTGRES_PASSWORD=some_secure_pg_password_change_in_production

# Rails Secret
SECRET_KEY_BASE=some_secret_key_base_change_in_production

# File storage
REMOTE_STORAGE=false
# S3_KEY=change_key
# S3_SECRET=change_secret
# S3_REGION=change_region
# S3_ENDPOINT=change_endpoint
# S3_BUCKET_NAME=change_bucket_name

# If you set `DO_NOT_PREPARE` to true, we will skip compiling
# the assets when the docker container loads. While this makes
# the container start faster, it is not reccommended because
# this is also the step where database migrations are run.
# If there's an update and the migrations don't run it could
# lead to issues with the website throwing a lot of errors.
#DO_NOT_PREPARE=true
