<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    <%= t('hello', user_name: @user.name) %>,
  </p>
  
  <p>
    <p><%= t('backup_generated', default: 'Your Request for the backup has been completed successfully, please use this link to download CSV file') %>
    <%= link_to t('link_to_download'), admin_backups_url %></p>
  </p><br/>
  <p>
    <strong>Powered by Helpy</strong><br/>
    Get a Free Helpy Support System for your Site at http://helpy.io/
  </p>
  </body>
</html>
