.rtl {
  direction: rtl;
}

.btn-rtl {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.logo-rtl {
  padding-left: 5px;
  margin-top: 10px;
}

.radio > .radio-label label {
  padding-right: 20px;
}

table > thead > tr > th{
  text-align: center;
}

.topics-tickets {
  tbody {
    tr td {
      text-align: center;
    }
    td span {
      float: none !important;
    }
    td div {
      float: none !important;
    }
  }
}