---
development:
  cloud_name: cloud_name
  api_key: 'yourkey'
  api_secret: yoursecret
  enhance_image_tag: true
  static_image_support: false
production:
  cloud_name: cloud_name
  api_key: 'yourkey'
  api_secret: yoursecret
  enhance_image_tag: true
  static_image_support: true
test:
  cloud_name: cloud_name
  api_key: 'yourkey'
  api_secret: yoursecret
  enhance_image_tag: true
  static_image_support: false
