<% title "#{AppSettings['settings.site_name']}: 500 Error" %>
<div class="error" style="height: 500px;">
<%= link_to image_tag(AppSettings.get_logo, width: 40, class: "logo"), root_url %>
<h2>
  Oops there has been an error...
  <br/><small>We log all errors and an engineers pager is going off somewhere!</small>
</h2>
</div>
