<% title "#{AppSettings['settings.site_name']}: 404 Error" %>
<div class="error" style="height: 500px;">
<%= link_to image_tag(AppSettings.get_logo, width: 40, class: "logo"), root_url %>
<h2>
  Nothing was found at this address...
</h2>
</div>
