<div id="page-title" class="row">
  <div class="col-md-8" id="page-title-left">
    <span class="hidden-xs">
      <%= render_breadcrumbs('') %>
    </span>
    <h1><%= t('devise.sessions.new.sign_in') %></h1>
  </div>
  <div class="col-md-4" id="page-title-right">
  </div>
</div>
<div class="row">
  <%= render 'layouts/login' %>
</div>
