apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  RAILS_ENV: production
  RAILS_LOG_TO_STDOUT: 'true'
  RAILS_SERVE_STATIC_FILES: 'true'

  # Database configuration
  POSTGRES_HOST: 
  POSTGRES_PORT: 
  POSTGRES_DB: helpy_production
  POSTGRES_USER: helpy
  POSTGRES_PASSWORD: 
  SECRET_KEY_BASE:

  # File storage configuration
  REMOTE_STORAGE: 'false'
  S3_KEY: 
  S3_SECRET: 
  S3_REGION: 
  S3_ENDPOINT: 
  S3_BUCKET_NAME: 

  # Move the concurrency to increase or decrease the number of workers 
  # running in each container
  HELPY_JOB_ADAPTER: delayed_job