// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require twitter/bootstrap
//= require turbolinks
//= require_tree .
//= require twitter/bootstrap/rails/confirm



var ready = function(){

  // Sets up autoscroll for any link with class autoscroll
  // requires data-target param containing class or ID of target
  $(".autoscroll").each(function(){
      $(this).click(function(){
        var scrollTarget=$(this).data("target");
        $('html,body').animate({
          scrollTop: $(scrollTarget).offset().top},'slow');
        });
  });

  $("#did-this-help-no").click(function(){

    //Change Message
    $('#did-this-help').html("<h3>We're sorry this did you help you.  Please open a discussion in our support forums for more help!</h3>");
    //Report to Google

  });

  // used by create topic form
  $('#topic_private_true').click(function(){
    $("#topic_forum_id").parent().hide();
    $('#new_topic').append("<input type='hidden' id='new_topic_forum_id' name='topic[forum_id]' value='1'/>")
  });
  $('#topic_private_false').click(function(){
    $("#topic_forum_id").parent().show();
    $("#new_topic_forum_id").remove();
  });

  // link entire row to child
  $('.link-row').mouseover(function(){
    $(this).css('cursor','pointer');
  });
  $('.link-row').mouseout(function(){
    $(this).css('cursor','auto');
  });
  $('.link-row').on('click', function(){
    document.location.href = $(this).find('a').attr('href');
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);
