

<div class="row">
  <div class="col-md-3 hidden-sm hidden-xs">
    <%= render partial: 'admin/categories/cat_nav' %>
  </div>
  <div class="col-md-9 col-sm-12 main-panel">
    <div class="admin-header">
      <h3><%= "#{@category.name}" %>

      <div class="admin-options pull-right nav-new-button">
        <%= link_to t(:new_content, default: "New Content"), new_admin_doc_path(lang: I18n.locale), class: 'btn btn-primary' %>
      </div></h3>
    </div>

    <div class="sortable">
      <%= render partial: 'doc', collection: @docs %>
    </div>
  </div>
</div>
