<div class="admin-header">

  <h2><%= "#{@category.name}" %>

  <div class="admin-options text-right pull-right">
    <%= link_to t(:new_category, default: "New Category"), new_admin_category_path(lang: I18n.locale), class: 'btn btn-primary' if knowledgebase? %>
    <%= link_to t(:new_content, default: "New Content"), new_admin_category_doc_path(category_id: @category.id, lang: I18n.locale), class: 'btn btn-primary' %>
  </div></h2>
</div>

<div class="sortable">
  <%= render partial: 'doc', collection: @docs %>
</div>
