<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<% Globalize.with_locale(@locale) do %>
  <div class="text-center">
    <h2 class="widget-header">
      <%= t('thank_you', default: 'Thank You!') %>
    </h2>

    <p><%= t('new_user', default: "Thank you for contacting us.  Your message has been received by our support team and we will be in touch with you shortly with a response.") %></p>

    <p class="widget-footer">
      <%= image_tag 'logo.png', width: 20 %> Powered by <%= link_to 'Helpy. An Open Source Help Desk', 'http://helpy.io/', target: 'blank' %>.
    </p>
  </div>
<% end %>
