<% title "#{admin_title} #{t(:edit, default: 'Edit')}: #{@forum.name}" %>

<h2><%= t(:edit, default: 'Edit') %>: <%= @forum.name %></h2>

<%= simple_form_for([:admin, @forum], validate: true) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} -%>
<% end %>
