<%= render 'layouts/internal_knowledgebase_page_title' %>
<div class="row content-row">

  <div class="col-md-12">
    <div class="row">
      <table id="forums" class='table-hover'>
        <col>
        <tbody id="categories">
          <% @docs.each do |doc| %>
              <tr class="item">
                <td>
                  <span class="more-important">
                    <%= link_to doc.title, admin_internal_category_internal_doc_path(doc.category, doc) %>
                  </span>
                </td>
              </tr>
          <% end %>
      </tbody>
        <% if @docs.count == 0 %>

          <div class="text-center verticalness">
            <%= t(:nothing_here) %>
          </div>

        <% end %>
      </table>
    </div>

    <div class="row">
      <div class="col-md-9 text-left">
        <%= paginate @docs %>
      </div>
    </div>

  </div>

</div>
