/* @override 
	http://localhost:3000/assets/admin-30af23e21078c9247141eb4d42db3b17.css?body=1
	http://localhost:3000/assets/admin-ea49526b293582343e23fb566f59119c.css?body=1
	http://localhost:3000/assets/admin-a3899fdec5803d146a8d4dd6884cc447.css?body=1
	http://localhost:3000/assets/admin-80c32ed2c6027dfe19d43357728a4580.css?body=1
	http://localhost:3000/assets/admin-a0732058619d0545f8429b440d624fa1.css?body=1
	http://localhost:3000/assets/admin-334a269bbd635d4dcb63f804919bc1a5.css?body=1
	http://localhost:3000/assets/admin-3ffbd526633f5b3fe27709b22b21f7aa.css?body=1
	http://localhost:3000/assets/admin-dc944612123612ecf1369dfd9e833011.css?body=1
*/

/*== ADMIN == */

img.user-thumbnail {
	padding-top: 0px;
	padding-bottom: 0px;
}

div.left-col-dropdown {
  width: 100%;
}

div.left-col-dropdown > .btn-default {
  width: 100%;
  text-align: left;
}

ul.dropdown-menu {
  width: 100%;
}

h1{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

h2 {
	margin-top: 0px;
}

table#posts {
	margin-top: 20px;
}

td > img {
	padding-right: 20px;
	padding-bottom: 10px;
}

.status {
	font-size: 120%;
}

.first-post {
	background-color: #eee;
	margin-bottom: 20px;
}

#user-info-image {
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 10px;
}

#user-info-info {
	color: #666;
}

#ticket-info {
	margin-bottom: 10px;
}

#user-tickets ul li {
	height: 25px;
	color: #666;
}

.user-info {
	padding-top: 20px;
	padding-bottom: 0px;
}

#left-col-ticket-nav {
	margin-top: 50px;
}

.mailbox {
	padding-right: 10px;
	padding-bottom: 8px;
}