/* @override 
	http://localhost:3000/assets/admin-582387c7981232c694243fbe9087f154.css?body=1
	http://localhost:3000/assets/admin-3a12d979afc45c20a233636fca0f971b.css?body=1
	http://localhost:3000/assets/admin-c733dc284487b37cc627b9eeb202f0a7.css?body=1
*/

/*== ADMIN == */

img.user-thumbnail {
	padding-top: 0px;
	padding-bottom: 0px;
}	

div.left-col-dropdown {
  width: 100%;
}

div.left-col-dropdown > .btn-default {
  width: 100%;
  text-align: left;
}

ul.dropdown-menu {
  width: 100%;
}

h1{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

h2 {
	margin-top: 0px;	
}

table#posts {
	margin-top: 20px;
}

tr {
	height: 50px;
}

td, th {
	padding-left: 10px;
}

td > img {
	padding-right: 20px;
	padding-bottom: 10px;
}

.status {
	font-size: 120%;
}

.first-post {
	background-color: #eee;
}

span.admin-icon {
	color: #666;
	margin-bottom: 15px;
	font-size: 120%;
}