
div#footer.row .text-left {
    float:left;
}
#posts .pull-left {
    float:right;
}
#left-col-user-info {
    border-right:none;
    border-right: 1px solid #eee;
}

.glyphicon-chevron-right:before {
  content: "\e079";
}

#above-header {
	font-size: 85%;
	padding-top: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	text-align: left;
}

// this is for widget
textarea.form-control {
    direction:rtl;
}
input.form-control {
    direction:rtl;
}
