// This stylesheet is for common rules that are used by all themes.  Typically this
// would mean infrastructure type styles: things like how attachments are shown.
// They can always be overwritten by styles in the themes .scss


#post-images {
	margin-top: 30px;

	ul li.image img {
		margin-top: -20px;
	}

	ul li.raw {
		border: 1px solid #ddd;
		width: 125px;
		padding-top: 45px;
		padding-bottom: 45px;
		text-align: center;

		i {
			font-size: 36px;
			color: #ccc;
		}

	}
}

#right-menu {
	h2 {
		font-size: 14px;
	}
}

.select-image {
  margin-top: 37px;
  margin-bottom: 30px;
}

.vcenter {
  display: flex;
  align-items: center;
}

// Helpcenter ticket row styling for 'Your Tickets'
.ticket-header{
	padding: 15px 5px;
	font-size: 100%;
	font-weight: bold;
	color: #666;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}

.ticket {
  height: 60px;

  .status-label {
    margin-bottom: 0;
  }
  .label-count {
    top: 0;
  }
}
// Decorate Choose file btn => "Choose Avatar"
  .user-avatar {color: transparent;}
  .user-avatar::-webkit-file-upload-button {visibility: hidden;}
  .user-avatar::before {
  content: attr(data-content);
  color: #666;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12pt;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  }
  .user-avatar:active::before {background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);}
  input.user-avatar{outline: none;}
  body{padding: 20px;}