<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<div id="left-col" class="col-lg-3 col-md-3 hidden-sm hidden-xs affix affix-top">
  <ul class="list-unstyled border-right">
      <%= render partial: 'categories/cat', collection: @categories.with_translations(I18n.locale) %>
  </ul>
</div>