<script type="text/javascript">
  $(function () {
      $(".icon-picker").iconPicker();
  });
</script>
<h2><%= t(:edit_category, default: 'Edit Category') %>: <%- @category.name %></h2>

<%= locale_select if I18n.available_locales.count > 1 %>
<% Globalize.with_locale(params['lang']) do %>
<%= render 'form' %>
<% end %>
<% unless params[:lang].nil? %>
<script>
$(function(){
  $('.no-translate').attr("disabled", true);
});
</script>
<% end %>
