<script type="text/javascript">
  $(function () {
      $(".icon-picker").iconPicker();
  });
</script>

<h2><%= t(:edit_category, default: 'Edit Category') %>: <%- @category.name %></h2>

<%= render 'form' %>
