
<div class="row">
	<div id="left-col" class="col-md-3 hidden-sm hidden-xs">
		<h5>Categories</h5>
		<div class="list-group">
		<% @categories.each do |category| %>
			<%= link_to category.name.titleize, '#', class: 'autoscroll list-group-item', "data-target" => "#category-#{category.id}"  %>
		<% end %>
		</div>
	</div>

	<div id="category-col" class="col-md-9">
		<% @categories.each do |category| %>
		<div class="row">
			<div class="col-md-9">
				<h5 class="category-header more-important"><%= link_to category.name.titleize, category_path(category), id: "category-#{category.id}"  %></h5>
				<ul class='list-unstyled articles'>
					<% category.docs.ordered.active.limit(15).each_with_index do |doc| -%>
						<%= render ("docs/doc"), doc: doc -%>
					<% end -%>
					<li class="article article-more">
						<%= link_to "More Documents", category_path(category) if category.docs.ordered.active.count > 15 -%>
					</li>
				</ul>
			</div>
		</div>
		<% end %>
	</div>

</div>
