
<div class="row content-row">
	<%= render 'left_nav' %>
	<div class="col-md-3"></div>
	<div id="category-col" class="col-md-9">
		<% @categories.each do |category| %>
		<div class="row">
			<div class="col-md-9">
				<h5 class="tiny-header"><%= link_to category.name.titleize, category_path(category), id: "category-#{category.id}", class:'tiny-header'  %></h5>
				<ul class='list-unstyled articles'>
					<% category.docs.ordered.active.limit(15).each_with_index do |doc| -%>
						<%= render ("docs/doc"), doc: doc -%>
					<% end -%>
					<li class="article article-more">
						<%= link_to "More Documents", category_path(category) if category.docs.ordered.active.count > 15 -%>
					</li>
				</ul>
			</div>
		</div>
		<% end %>
	</div>

</div>
