
<h1>Knowledgebase</h1>
<div class="row">
	<div id="left-col" class="col-md-3">
		<h4>Categories</h4>
		<div class="list-group">
		<% @categories.each do |category| %>
			<%= link_to category.name.titleize, '#', class: 'autoscroll list-group-item', "data-target" => "#category-#{category.id}"  %>
		<% end %>
		</div>
	</div>

	<div id="category-col" class="col-md-9">
		<% @categories.each do |category| %>
		<div class="row">
			<div class="col-md-9">
				<h4><%= link_to category.name.titleize, category_path(category), id: "category-#{category.id}"  %></h4>
				<ul class='list-unstyled'>
					<% category.docs.ordered.active.limit(15).each_with_index do |doc| %>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><%= link_to doc.title.titleize, category_doc_path(category, doc) %></li>
					<% end %>
					<li><%= link_to "More Documents", category_path(category) if category.docs.ordered.active.count > 15 %></li>
				</ul>
			</div>
		</div>
		<% end %>
	</div>

</div>
