<script type="text/javascript">
  $(function () {
      $(".icon-picker").iconPicker();
  });
</script>

<h2><%= t(:new_category, default: 'New Category') %></h2>

<%= bootstrap_form_for @category, label_errors: true, method: 'post' do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= render :partial => 'form', :object => @category, :locals => {:f => f} %>
<% end %>
