<div class="row">

  <%= render 'left_nav' %>
  <div class="col-md-3"></div>
  <div id="category-col" class="col-md-9">
    <div class="row">
      <div class="col-md-9">
        <ul class='list-unstyled'>
          <% @docs.each do |doc| %>
            <li>
              <%= render ("docs/doc"), doc: doc %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="text-right">
      <%= paginate @docs %>
    </div>

  </div>

</div>
