<div class="row content-row">

  <%= render 'left_nav' %>
  <div class="col-md-3"></div>
  <div id="category-col" class="col-md-9">
    <div class="row">
      <div class="col-md-9">
        <ul class='list-unstyled'>
          <% @docs.each do |doc| %>
              <%= render ("docs/doc"), doc: doc %>
          <% end %>
          <% if @docs.count == 0 %>

            <div class="text-center verticalness">
              <%= t(:nothing_here) %>
            </div>

          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 text-left">
        <%= paginate @docs %>
      </div>
    </div>

  </div>

</div>
