<script>
$(document).ready(function(){
  $('#search-field').focus();
  //$('#search-field').keyup(function(){
  //    $('#search-form').submit();
  //});
  <% if action_name == 'users' %>
  $('#search-form').data("remote",true);
  <% end %>
});
</script>

<div class="form-group has-feedback has-feedback-left">
<%= form_tag user_search_path, method: :get, :id=> 'search-form', remote: true do %>
  <%= text_field_tag('q', nil, placeholder: 'Search by Login, Name or Email Address', id: 'search-field', class: 'form-control', value: params[:q]) %>
  <i class="form-control-feedback glyphicon glyphicon-search"></i>
<% end %>
</div>
