<% title "#{admin_title} #{t('users', default: "Users")}" %>

<div class="row white-bg">
  <div id="admin-left-nav" class="hidden-xs hidden-sm col-md-3 ticket-stats">
    <%= render 'admin/users/user_filter' %>
  </div>

  <div class="col-md-9 main-panel" id="tickets">
    <%= render partial: 'admin/users/users' %>
  </div>
</div>
