<% title "#{admin_title} #{t(:discussions, default: "Discussions")}" %>

<div class="row">
  <div id="user-info" class="col-md-3 col-lg-2">
    <%= render partial: 'admin/users/user_filter' %>
  </div>
  <div class="col-md-9 col-lg-10 main-panel" id="tickets">
    <%= render 'admin/users/tickets' %>
  </div>
</div>
