<% title "#{admin_title} #{t(:users_found, count: @users.size, query: params[:q].titleize, default: 'Search Results') unless params[:q] == 'users'}" %>

<h2 id="ticket-page-title">
</h2>

<div class="row">
  <div id="tickets">
    <%= render partial: 'admin/users/users' %>
  </div>
</div>
