<div id="pipeline-wrapper" class="jumbotron hidden-xs">
  <div class="container">
    <div class="row">
      <div class="ticket-stats col-md-12">
        <%= render partial: 'admin/topics/ticket_stats' %>
      </div>
    </div>
  </div>
</div>
