<% title "#{admin_title} #{t(:discussions, default: "Discussions")}" %>

<div class="row">
  <div id="admin-left-nav" class="hidden-xs col-md-3 hidden-sm ticket-stats">
    <%= render 'admin/topics/ticket_stats' %>
  </div>
  <div class="col-md-9 main-panel" id="tickets">
    <%= render 'admin/topics/tickets' %>
  </div>
</div>
