<div id="did-this-help" class="text-center">
  <h3><%= t(:did_this_help) %></h3>
  <button type="button" class="btn btn-success" id="did-this-help-yes"><%= t(:yes) %></button>
  <button type="button" class="btn btn-danger" id="did-this-help-no"><%= t(:no) %></button>
</div>
