<div id="did-this-help" class="text-center">
  <h3>Did this solve your problem?</h3>
  <button type="button" class="btn btn-success" id="did-this-help-yes">Yes</button>
  <button type="button" class="btn btn-danger" id="did-this-help-no">No</button>
</div>
