<div id="did-this-help" class="row">
  <span class="col-md-6 col-xs-12">
    <h3><%= t(:did_this_help) %>  </h3>
  </span>
  <span id="did-this-help-buttons" class="col-md-6 col-xs-12 text-center">
    <button type="button" class="btn btn-success" id="did-this-help-yes"><%= I18n.translate(:yes_button, default: "Yes") %></button>
    <button type="button" class="btn btn-danger" id="did-this-help-no"><%= I18n.translate(:no_button, default: "No") %></button>
  </span>
</div>
