<div id="footer" class="row">
	<div class="row">
		<div class="col-md-6 col-sm-8 col-xs-12 text-left">
			Powered by <%= link_to 'Helpy. An Open Source Help Desk', 'http://helpy.io/' %>.
		</div>
		<div class="col-md-6 col-sm-4 text-right hidden-xs">
			Grab your copy on Github.
		</div>
	<div>
</div>
