<div id="footer" class="row">
	<div class="row">
		<div class="col-md-6 col-sm-5 text-left">
			Powered by Helpy.io Customer Support Software.
		</div>
		<div class="col-md-6 col-sm-7 text-right hidden-xs">
			Grab your copy on Github.
		</div>
	<div>
</div>
