<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <span class="internal-kb">
      <%= render_breadcrumbs('') %>
    </span>
    <h1 style="background-color: transparent;"><%= @page_title %></h1>
  </div>
</div>
