<div id="left-col" class="col-md-3 hidden-sm hidden-xs">
  <ul class="list-unstyled border-right">
    <li class="">
      <%= link_to 'Categories', admin_knowledgebase_path %>
    </li>
    <li>
    <%= link_to 'New Article', new_document_path %>
    </li>
    <li>
    </li>
  </ul>
</div>
